body{
  font-family:"游ゴシック体", "Yu Gothic", YuGothic, 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'ＭＳ Ｐゴシック', sans-serif;
  margin:0;
  padding:0;
  background-color: #f9f9f9;
  color: #333;
}
header {
  background-color:#333;
  color:#fff;
  padding: 2rem;
  text-align:center;
}
section{
  max-width:800px;
  margin:2rem auto;
  padding:1rem;
}
h1,h2{
  margin-bottom:1rem;
}
    
footer{
  background-color: #333;
  color: #fff;
  text-align: center;
  padding:1rem;
  position: fixed;
  width: 100%;
  bottom:0;
} 
a{
  color: #1e90ff;
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 4rem;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
  letter-spacing: 0.2em;
  transition: opacity 0.3s ease;/* ←アニメーションでなめらかに */
}

nav a:hover {
  opacity: 0.5;/* ←カーソル合わせたときに薄くなる */
}

/* メインメニューの横並び */
.main-menu {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 0;
  margin: 0;
}

.main-menu > li {
  position: relative;
}

/* サブメニューを最初は非表示 */
.sub-menu {
  list-style: none;
  position: absolute;
  top: 100%;
  left: 0;
  /*background: #fff;*/
  border: 1px solid #ddd;
  padding: 10px 0;
  display: none;
  min-width: 180px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  /*list-style: none;
  position: absolute;
  top: 100%;
  left: 0;*/
  background-color: rgba(255, 255,255, 0.90);
  /*border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0, 0.1);
  padding:1rem;
  display: none;
  z-index:1000;
*/
}

/* サブメニューのリンク */
.sub-menu li a {
  display: block;
  padding: 8px 16px;
  color: #333;
  text-decoration: none;
}

/* ホバーでサブメニュー表示 */
.main-menu > li:hover .sub-menu {
  display: block;
}

.main-menu>li>a{
  transision: opacity 0.3s ease, color 0.3s ease;
}
/* ホバー時に文字を薄くする */
.main-menu > li > a:hover {
  opacity: 0.6;
  color: #666;
}

/* メインメニューの区切り線 */
.main-menu > li:not(:last-child)::after {
  content: "";
  position: absolute;
  right: -20px;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 1em;
  background-color: #ccc;
}
img {
  width: 70%;
  height: auto;
}